/* .lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;
}

.lightbox.fadeOut{
    opacity: 0;
}

.lightbox__next, .lightbox__prev{
    border: none;
    background: url(../assets/icons/arrow.svg) center center / 16px 28px no-repeat;
    width: 50px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: -14px;
    z-index: 11;
    opacity: .5;
}


.lightbox__prev{
    right: auto;
    left: 0;
    transform: rotate(180deg);
}

.lightbox__close{
    width: 30px;
    height: 30px;
    border: none;
    background: url(../assets/icons/close.svg) center center / 100% 100% no-repeat transparent;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 12;
}

.lightbox button{
    opacity:  .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -30000px;
}

.lightbox button:hover{
    opacity: 1;
}

.lightbox__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}

.lightbox__container img{
    max-width: 100%;
    height: auto;
    animation: lightboxIn .5s;

}

.lightbox__loader{
    width: 38px;
    height: 38px;
    opacity: .5s;
    background: url(../assets/icons/loader.svg) center center no-repeat;

} */


@keyframes lightboxIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* .lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.9);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s;

} */
.lightbox{
position: fixed;
z-index: 1;
left: 0;
top: 0;
max-height: 100%;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(230, 230, 230, 0.9);
}
/* .player{

    height: 100%;
} */

.player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 5% auto;
    max-height: 250vh;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
}

.cols{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    background: white;
    padding: 20px;
}

.col1, .col3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
.col2 {
    /* width: 70%; */
    height: 100%;
    object-fit: contain;
    background-color: white;
}

.element-stream{
    width: 100%;
    height: 100%;
}

.element-title{
    color: #901C1C;
}
.lightbox__prev, .lightbox__next, .lightbox__close{
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 2rem;
}

.fa-chevron-right, .fa-chevron-left, .fa-times{
    color: #901C1C;
}

.lightbox__close{
    position: absolute;
    top: 2%;
}